:root {
    --darkPurple: #24053E;
    --davysGrey:#584D62;
    --eucalyptus: #44FFA1;
    --ghostWhite: #FCF8FF;
    --white: #FFFFFF;
}


@font-face {
    font-family: 'Fruances 144' ;
    src: url('./assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf');
}

@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/manrope/Manrope-VariableFont_wght.ttf')
}



*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body{
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.hero-section{
    height: 90vh;
    background-image: url('./assets/images/hero-bg.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.middle-section{
    margin-top: -5%;
    background-image: url('./assets/images/hero-bg-2.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;
}


.text-layer{
    position: absolute;
    right: 0;
    left: 0;
    color: white;
}



.nav-links{
    font-family: 'Manrope', sans-serif;
    font-size: 1.1em;
}

.access-link{
    border-bottom: 2px solid #44FFA1;
    cursor: pointer;
}

.access-link:hover, .access-link:focus, .access-link:active{
    color: #44FFA1 !important; 
}

.hero-text{
    font-family: 'Fruances 144', serif;
    font-size: 4em;
}

.underlined-span {
    border-bottom: var(--eucalyptus) 2px solid;
}

.button-link{
    font-family: 'Manrope';
    color: var(--white);
    border: var(--eucalyptus) 2px solid;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
    background-color: var(--eucalyptus);
    color: #24053E;
    font-size: 1.1em;
}

.button-link:hover, .button-link:focus, .button-link:active{
    color: #44FFA1 !important; 
    color: var(--eucalyptus);
    border: var(--eucalyptus) 2px solid;
    border-radius: 0;
    background-color: #24053E;
}

.hero-bg-1{
    height: 100vh;
}

.hero-img-1{
    margin-top: 8%;
    position: absolute;
    left: -150px;
}

.hero-img-2{
    margin-top: 20%;
    position: absolute;
    right: -70px;
}

.hero-phone-img img{
height: 30vw;
margin-top: -10vw;
}

.home-text{
    color: black;
    margin-top: 8%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}


.hero-phone-img{
 width: 100%;
 position: absolute;
 z-index: 2;
}

.copy-num{
    border: solid 1px black;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 1.2em;
    margin-bottom: 3%;
    font-family: 'Fruances 144', serif;
}

.copy-title{
    font-family: 'Fruances 144', serif;
    font-size: 2em;
    margin-bottom: 3%;
}

.copy-text{
    margin-bottom: 15%;
    font-family: 'Manrope', sans-serif;
}

.founder{
    position: relative;
}

.founder-img{
    margin-top: 30%;
}

.founder-section{
    background-color: #24053E;
    color: white;
    position: absolute;
    z-index: 5;
    margin-top: -10%;;
}

.founder-title{
    font-family: 'Fruances 144', serif;
    font-size: 2em;
}

.founder-text{
    font-family: 'Manrope', sans-serif;
    line-height: 175%;
}

/* ******** MEDIA QUERIES ********* */


@media screen and (min-width: 768px){

    .middle-section{
        height: 120vh;
    }

    .hero-phone-img img{
        height: 40vh;
        margin-top: -10vw;
    }
    .hero-bg-1{
        display: block;
    }
    .hero-img-1{
        margin-top: 8%;
        position: absolute;
        left: -190px;
    }
    .hero-img-2{
        margin-top: 30%;
        position: absolute;
        right: -100px;
    }
    .founder-img{
        margin-top: 20%;
        text-align: left;
        padding-left: 5%;
    }
    .founder-img img{
        height: 40vh;
    }
    .founder-section{
        width: 65%;
        right: 5%;
        margin-top: -20%;
    }

    .founder-svg{
        display: block;
    }

    .founder-svg img{
        height: 12.5em;
    }

    .founder-svg {
        position: absolute;  
        right: 5%;
        bottom: -25%;
    }

    .footer-logo{
        padding-top:20em;
    }

}

@media screen and (min-width: 1440px){
    .middle-section {
        height: 110vh;
    }
    .hero-text{
        font-size: 4em;
    }
    .hero-phone-img img{
        height: 50vh;
        margin-top: -1vw;
    }
    .hero-img-1{
        margin-top: 8%;
        position: absolute;
        left: -150px;
    }
    
    .hero-img-2{
        margin-top: 20%;
        position: absolute;
        right: -70px;
    }



    .founder-img{
        margin-top: 10%;
        text-align: left;
        padding-left: 15%;
    }
    .founder-img img{
        height: 40vh;
    }
    .founder-section{
        width: 50%;
        right: 15%;
        margin-top: -14%;
    }
}



